#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  background-color: #242424;
  width: 100%;
  padding-bottom: 15px;
}

.subheader {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.info-box {
  max-width: 600px;
  width: fit-content;
  padding: 20px;
  margin: 0 auto;
  background-color: #202020;
  border-radius: 15px;
  border-style: solid;
  border-color: #222222;
}

ul {
  text-align: left;
}
