#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

header {
  position: absolute;
  top: 0;
  margin: 0;
  text-align: center;
  background-color: rgb(124, 124, 124);
  width: 100%;
}

.main-body {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  text-align: center;
}
